<div class="button-container">
  <div class="row align-center buttons">
    <div class="column large-7 medium-8 small-12">
      <a href="{{page.download_analyses}}" class="button download-button">Visit the Blueprint for Delivering Results in State Government<i
          class="material-icons ">arrow_forward</i></a>
    </div>
  </div>
  <div class="row align-center buttons">
    <div class="column large-6 medium-8 small-12">
      <a href="{{page.download_summary}}" class="button download-button">Download the 2020 State Spotlights<i class="material-icons ">arrow_forward</i></a>
    </div>
  </div>
</div>