---
layout: default
title: 2020 Results for America
description:
seo_image_path: #'/images/media/filename.jpg'
---
{% assign index = site.data.contentful.indexPage.indexPage | where: "year", site.content_year %}

{% for page in index %}
<main role="main" id="index">
  <section class="top-section">
    <div class="row align-center">
      <div class="column large-8 medium-8 small-12">
        <h1 class="index-year">{{ page.year }}</h1>
        <hr>
        <h2>Invest in What Works<br>State Standard of Excellence</h2>
      </div>
    </div>

    <div class="expandable">
      <div class="row align-center">
        <div class="column large-11 medium-12 small-12 markdown">
          {{ page.short_description | markdownify }}
        </div>
      </div>

      <div class="row align-center">
        <div class="column large-11 read-more-wrapper">
          <button class="read-more" aria-label="Read More Toggle"></button>
        </div>
      </div>
    </div>

    <div class="accordion-row row align-center">
      <div class="accordion-col column large-11 markdown">
      <button class="accordion"><h5>States Use Data to Respond to COVID-19</h5><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
        <div class="panel">
          <div style="padding-bottom:2rem">
            {{ page.states_use_data_accordion | markdownify }}
          </div>
        </div>
        
      <button class="accordion"><h5>Evidence in State Budgets</h5><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
        <div class="panel">
          <div style="padding-bottom:2rem">
            {{ page.evidence_in_state_budgets_accordion | markdownify }}
          </div>
        </div>
      </div>
    </div>

  </section>

  {% include key-modal.html %}

  {% include table.html %}

  <section>
    <div class="row align-center expanded footnote">
      <div class="column large-8 small-12">
        <p>Results for America’s analysis is based on data provided under license by The Pew Charitable Trusts’ <a href="http://www.pewtrusts.org/en/projects/pew-macarthur-results-first-initiative" target="_blank" rel="noopener noreferrer">Results First initiative</a> (which was used to inform its <a href="http://www.pewtrusts.org/en/research-and-analysis/reports/2017/01/how-states-engage-in-evidence-based-policymaking" target="_blank" rel="noopener noreferrer">2017 report</a> on states’ engagement in evidence-based policymaking) and input from more than 150 current and former state government officials and other experts.
        <br><br>
        Results for America thanks all the leaders that contributed to the 2020 State Standard of Excellence. Please see the full list of Acknowledgements <a href="{{ '/acknowledgements.html' | relative_url }}">here</a>.</p>
      </div>
    </div>
    {% include buttons.html %}
  </section>
</main>
{% endfor %}
